<main class="mainHome">
  <div class="ticket-main">
    <div class="ticket-info">
      <div>
        <h3>Ticket</h3>
        <div class="ticket-product-info">
          {{#each products}}
            <div class="product-info">
              <img
                src={{this.thumbnail}}
                alt="{{this.title}}"
                class="product-thumbnail"
              />
              <p>Nombre: {{this.name}}</p>
              <p>Precio: $ {{this.price}}</p>
              <p>Cantidad de unidades: {{this.quantity}}</p>
              <p>Total: $ {{this.totalPrice}}</p>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="ticket-total">
        <span>Total</span>
        <p>$</p>
        <p class="ticket-amount">{{amount}}</p>
      </div>
    </div>
    <div class="ticket-user-info">
      <div>Nombre: <strong>{{namePurchase}}</strong></div>
      <div>Dirección: <strong>{{address}}</strong></div>
      <div>
        <span>Codigo:</span>
        <strong>{{code}}</strong>
      </div>
    </div>
    <a href="/products/1" class="ticket-link">Volver al inicio</a>
  </div>
</main>